pipeline/Append Activity.json
{
	"name": "Append Activity",
	"properties": {
		"activities": [
			{
				"name": "Append variable",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "files_list",
					"value": "'4.csv'"
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test_files",
					"value": {
						"value": "@variables('files_list')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"files_list": {
				"type": "Array",
				"defaultValue": [
					"1.csv",
					"2.csv",
					"3.csv"
				]
			},
			"test_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Data Movement Activities/Append"
		},
		"annotations": []
	}
}